<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "Restaurant Menu" %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto">
        <header class="py-5 text-center bg-gray-800 text-white">
            <h1 class="text-2xl font-bold">Online Restaurant Menu</h1>
        </header>
        <main>
            <%- body %>
        </main>
        <footer class="py-5 text-center bg-gray-800 text-white">
            <p>&copy; Willy 2024 Online Restaurant Menu</p>
        </footer>
    </div>
</body>
</html>